[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MM2Sdata"]
	path = MM2Sdata
	url = https://github.com/cran/MM2Sdata
[submodule "SIGN"]
	path = SIGN
	url = https://github.com/cran/SIGN
